<form method="POST" action="/music_videos">
Song Name:
<input type="text" name="video[song_title]"/>
</br>
New Video URL:
<input type="text" name="video[video_embed_url]"/>
<input type="hidden" name="band_id" value="<%= @id %>"/>
</br>
<input type="submit" />
</form>
